apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-deploymnet
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:  
      containers:
        - name: hello-world
          image: hashicorp/http-echo
          args: 
            - "-text=hello world"
            - "-listen=:5000"
          ports: 
          - containerPort: 5000